---
import '../../../styles/components/landingpage/herosection.css'
---

<div class="hero-section">
    <div>
        <h1>Managed Farmland</h1>
        <p>Start owning your farmland and leave the hard part to us</p>
        <button>Start Now</button>
    </div>
    <img src="hero-image.jpg" width="400px"/>
</div>