---
import '../../styles/404.css'
import PlayDejaVu from "../components/PlayDejaVu";

---




    
    
<div class="error404container">
    <PlayDejaVu/>
    <div class="error404col">
        <h1> SORRY PAGE NOT FOUND HEEHEE</h1>
        <h1> ;(</h1>
    </div>
</div>