---

import '../../styles/components/Footer.css'

---
<div class="footer">
    <div class="footer-col">
        <b>Site Map</b>
        <br/>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/pricing">Pricing</a>
    </div>
    <div class="footer-col">
        <b>Address</b>
        <br/>
        485 Essex Court<br/>
        South Burlington<br/>
        Mobile No:	802-505-1847
    </div>
    <div class="footer-col">
        <b>Social</b>
        <br/>
        <a href="/">Facebook</a>
        <a href="/">Twitter</a>
        <a href="/">Instagram</a>
        <a href="/">Reddit</a>
    </div>
</div>