---
import '../../styles/components/Navbar.css'
---

<nav class="navclass">
    <div>
        <img src="navicon.jpg" width="25px"/>
        <a href="#">Home</aw
    </div>
    <div>
        
        <a href="#">One</a>
        <a href="#">Two</a>
        <a href="#">Three</a>
    </div>
  </nav>